<div class="mb-3 pb-5">
  <h2 class="fs-1 text-left">PETFOLIO</h2>
  <div class="row">
    <div class="col-sm-5 mx-auto">
      <div class="card" style="width: 10rem; height: 15rem;">
        <img class="card-img-pet" src="css/1.png" alt="my-pet">
        <div class="card-body">
          <button class="mx-4 btn btn-sm" id="my-pet-btn" onclick="window.location.href='/pets';">My Pets</button>
        </div>
      </div>
    </div>
  </div>
</div>