<div class="mb-3 pb-5">
  <h2 style="font-size: 50px;">PETFOLIO</h2>
  <div class="row">
    <div class="col-sm-5 mx-auto">
      <div class="card mx-auto" style="width: 10rem; height: 15rem; border:none;">
        <img class="card-img-pet" src="css/1.png" alt="my-pet">
        <div class="card-body">
          <button class="mx-4 mt-2 btn btn-md text-nowrap" id="my-pet-btn" onclick="window.location.href='/pets';">My
            Pets</button>
        </div>
      </div>
    </div>
  </div>
  <p style="font-family:poppins;">"Paws" for a moment and let me "fetch" your pet data!</p>
</div>
