<div class="mb-3 pb-5">
  <h2 class="fs-1 text-left">PETFOLIO</h2>
  <div class="row">
    <div class="col-sm-2 mx-2">
      <div class="card" style="width: 10rem; height: 15rem; margin-left:auto;">
        <img class="card-img-pet" src="css/1.png" alt="my-pet">
        <div class="card-body">
          <button class="mx-3" id="my-pet-btn" onclick="window.location.href='/pets';">My Pet</button>
        </div>
      </div>
    </div>
    <div class="card" style="width: 10rem; height: 15rem; margin-left:auto;">
      <img class="card-img-pet " src="css/2.png" alt="my-pet">
      <div class="card-body">
        <button class="px-3" id="docs-btn" onclick="window.location.href='/documents';">Documents</button>
      </div>
    </div>
  </div>
</div>