<section class="vh-100 background">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white text-dark" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="md-1 mt-md-4 pb-5">
              <h2 class="mb-3 text-uppercase fs-1">PETFOLIO</h2>
              <img src="/css/cat_icon.png" class="img-fluid" id="icon">
              <p class="text-black-50 mb-4 fs-6">A safe place to store your pets data.</p>

              <div class="alert alert-danger" role="alert" id="invalid_cred" style="display:none">Incorrect Username or Password</div>

              <div class="form-outline form-white mb-4">
                <input type="username" id="username_form" class="form-control form-control-lg" />
                <label class="form-label" for="username_form">Username</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="password_form" class="form-control form-control-lg" />
                <label class="form-label" for="password_form">Password</label>
              </div>

              <p class="small mb-4 pb-lg-2"><a class="text-black-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-dark btn-lg px-5" type="submit" id="login_btn">Login</button>

            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="#!" class="text-black-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/login.js"></script>