<div class="md-1 mt-md-4 pb-5">
  <h2 class="mb-3 text-uppercase fs-1">PETFOLIO</h2>
  <img src="/css/cat_icon.png" class="img-fluid" id="icon">
  <p class="text-black-50 mb-4 fs-6">A safe place to store your pets data.</p>

  <div class="alert alert-danger" role="alert" id="invalid_cred" style="display:none">Incorrect Email or
    Password</div>

  <div class="form-outline form-white mb-4">
    <input type="email" id="email_form" class="form-control form-control-lg" />
    <label class="form-label" for="email_form">Email</label>
  </div>

  <div class="form-outline form-white mb-4">
    <input type="password" id="password_form" class="form-control form-control-lg" />
    <label class="form-label" for="password_form">Password</label>
  </div>

  <button class="btn btn-dark btn-lg px-5" type="submit" id="login_btn">Login</button>

</div>

<div>
  <p class="mb-0">Don't have an account?
    <button class="btn btn-dark btn-sm px-2" id="signup_btn">Sign Up</button>
  </p>
</div>




<script src="/js/login.js"></script>